/* Resetting default browser styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4; /* Light gray background */
    color: #333; /* Dark gray text color */
}

/* Styling header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0; /* Padding adjusted */
    text-align: center;
}

/* Styling logo */
header img {
    height: 40px;
    margin-bottom: 10px; /* Margin adjusted */
}

/* Styling navigation */
nav {
    background-color: #555;
    color: #fff;
    padding: 10px 0; /* Padding adjusted */
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px; /* Margin added between links */
}

nav a:hover {
    background-color: #777;
}

/* Styling sections */
section {
    padding: 40px 20px; /* Padding adjusted */
    background-color: #fff; /* White background */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow effect */
    margin-bottom: 20px; /* Margin added between sections */
}

/* Styling footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}