/* Resetting default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling with background image and font settings */
body {
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Navigation bar styling */
nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

/* Navigation list styling */
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Navigation list item styling */
nav li {
    height: 50px;
}

/* Navigation links styling */
nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

/* Hover effect for navigation links */
nav a:hover {
    background-color: #f0f0f0;
}

/* Style for the first list item in navigation */
nav li:first-child {
    margin-right: auto;
}

/* Sidebar styling */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

/* Sidebar list item styling */
.sidebar li {
    width: 100%;
}

/* Sidebar links styling */
.sidebar a {
    width: 100%;
}

/* Menu button styling (hidden by default) */
.menu-button {
    display: none;
}

/* Header styling with background image and text alignment */
header {
    position: relative;
    background-image: url('WebsiteBanner.jpg');
    background-size: cover; /* Ensure the background image covers the header */
    background-position: center;
    padding: 100px; /* Adjust padding */
    text-align: center;
}

/* Overlay for darkening the background image in the header */
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust opacity for darkness */
}

/* Header text styling */
header h1 {
    font-size: 36px; /* Increase font size for better readability */
    margin-top: 20px; /* Adjust margin */
    color: white; /* Set header text color to white */
    position: relative; /* Ensure text is above the overlay */
    z-index: 1; /* Ensure text is above the overlay */
}

/* Adjust logo position */
header img {
    position: absolute;
    top: 50%; /* Center the logo vertically */
    left: 50%; /* Center the logo horizontally */
    transform: translate(-50%, -50%); /* Move the logo back by half its size */
    height: 20vw; /* Responsive height based on viewport width */
    max-height: 800px; /* Max height for larger screens */
    min-height: 100px; /* Min height for smaller screens */
}

/* Styling navigation */
nav {
    font-size: 24px;
    background-color: transparent; /* Set background color to transparent */
    color: #fff;
    text-align: center; /* Align text to the center */
    position: absolute; /* Position at the top */
    top: 20px; /* Stick to the top */
    right: 20px; /* Adjust right position */
    z-index: 1; /* Ensure it's above the overlay */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #333;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #555;
}

nav a.active {
    background-color: #333;
    color: white;
}

/* Section styling */
section {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack elements vertically on small screens */
    padding: 20px; /* Padding adjusted */
    background-color: #fff; /* White background */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow effect */
    margin-bottom: 20px; /* Margin added between sections */
}

.section-text {
    flex: 1; /* Take remaining space */
    margin-bottom: 20px; /* Add margin between text and image */
}

.section-image {
    flex-shrink: 0; /* Prevent image from shrinking */
    width: 100%; /* Full width on mobile */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* Rounded corners */
}

/* Footer styling */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0; /* Stick to the bottom */
    left: 0;
    width: 100%;
    transition: bottom 0.3s ease; /* Smooth transition for bottom property */
}

/* Slideshow section styling */
.slideshow-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

/* Slideshow container styling */
.slideshow-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

/* Slideshow image styling */
.slideshow-container img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    display: none;
}

/* Active image */
.slideshow-container img.active {
    display: block;
}

/* Navigation circles container */
.navigation-circles {
    margin-top: 20px; /* Adjust margin */
    text-align: center; /* Center the dots */
}

/* Navigation circle styling */
.navigation-circle {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px; /* Adjust margin between circles */
    cursor: pointer;
    display: inline-block; /* Display circles inline */
}

/* Active navigation circle styling */
.navigation-circle.active {
    background-color: #555;
}

/* Media queries for responsiveness */
@media (min-width: 600px) {
    header {
        padding: 300px; /* Increase padding */
    }
    header img {
        height: 25vw; /* Responsive height based on viewport width */
    }
    nav {
        top: 180px; /* Adjust top position */
    }
    section {
        flex-direction: row; /* Arrange items in a row */
        padding: 300px 20px; /* Increase padding */
    }
    .section-text {
        margin-right: 20px; /* Adjust margin between text and image */
        margin-bottom: 0; /* Remove bottom margin */
    }
    .section-image {
        width: 600px; /* Set fixed width */
        margin-right: 200px; /* Adjust margin */
        margin-top: -100px; /* Adjust the image upward */
    }

    .sidebar {
        width: 100%;
    }
}

@media (max-width: 600px) {
    nav a {
        font-size: 16px; /* Smaller font size */
        padding: 5px 10px; /* Smaller padding */
    }
    section {
        flex-direction: column;
        padding: 20px;
    }
    .section-image {
        width: 100%;
        margin-right: 0;
        margin-top: 0;
    }

    /* Sidebar */
    .sidebar.active {
        display: flex;
    }
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}
